body {
  font-family: "Open Sans"
}

h1 {
  font-weight: 800;
  font-size: 70px;
  color: #FFFFFF;
  vertical-align: middle;;
  margin: 200px 30px 0;
}

img {
  width: 80px;
  height: 80px;
  padding: -10px 0 0;
}

.left {
background-color: #455A64;
width: 50%;
height: 100%;
position: fixed;
text-align: center;
}

.left input {
  width: 75%;
  height: 30px;
  margin: 20px 30px 10px;
}

.left button {
  background-color: #FFC107;
  color: #FFFFFF;
  width: 75%;
  height: 30px;
  margin: 10px 30px 100px;
}

.left:hover {
  background-color: #FFD773
  color: #FFFFFF;
}

.right {
background-color: #CFD8DC;
width: 50%;
height: 100%;
right: 0;
border: 1px solid #607D8B;
background-color: #FFFFFF;
width: 80%;
height: 150px;
margin: auto;
top: 20px;
}

.right {

}

h2, h3 {
  border-bottom: 1px solid #CFD8DC;
  width: 85%;
  padding:10px;
  margin: auto auto 7px;
}

h2 {
  color: #455A64;
  font-size: 32px;
  font-weight: 600;
}

h3 {
  color: #607D8B;
  font-size: 26px
}

.right button {
  position: absolute;
  bottom: 0;
  margin: 3%;
  color: #455A64;
  button-decoration: none;
}

.read {
  left: 0;
}

.delete {
  right: 0;
}
