body {
  font-family: "Open Sans"
}

h1 {
  font-weight: 800;
  font-size: 90px;

}

.Left {
background-color: #455A64;
width: 50%;
position: fixed;
}

.Left input {

}

.Left button {

}

.Right {
background-color:
width: 50%;
}

.Right button {

}
